#container {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-background {
    height: 100%;
    width: 60%;
    background-color: rgb(219, 219, 235);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 2rem;
}

@media (max-width: 992px) {
    p {font-size: 1.5rem;}
    #search-input {width: 90%;}
    #search-input mat-label {font-size: 0.8rem;}
}

@media (max-width: 768px) {
    p {font-size: 1.2rem;}
    #search-input {width: 75%;}
    #search-input mat-label {font-size: 0.75rem;}
}

@media (max-width: 630px) {
    p {font-size: 1rem;}
    #search-input {width: 60%;}
    #search-input mat-label {font-size: 0.7rem;}
}

@media (max-width: 540px) {
    p {font-size: 0.9rem;}
    #search-input {width: 50%;}
    #search-input mat-label {font-size: 0.65rem;}
}
